@font-face {
	font-family: 'Pudel'; 
	src: url(../fonts/pud.ttf); 
}

@keyframes show_effect {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

body {
    margin: 0%;
    background: url(../images/back.jpg) no-repeat center center fixed;
    background-size: cover;
}

div.lights {
    background: url(../images/lights.gif) repeat-x 50%;
    height: 100px;
}

img.left_pine {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30vmax;
}

img.right_pine {
    position: absolute;
    transform: scaleX(-1);
    top: 0px;
    right: 0px;
    width: 30vmax;
}

div.head {
    margin: 10vmax 0 0 0;
    text-align: center;
    font-family: 'Pudel';
    font-size: 60px;
    color: white;
    font-weight: bold;
    animation: show_effect 2s forwards;
}

div.main {
    text-align: center;
    font-family: 'Pudel';
    font-size: 30px;
    color: white;
    padding: 20px 15vmax 0px 15vmax;
    animation: show_effect 2s forwards;
}

img.tree {
    position: absolute;
    bottom: 0;
    width: 15vmax;
}

img.qr {
    position: absolute;
    right: 0;
    bottom: 0;
}